.sidebar {
    width: 32%;
    padding: 1em;
    text-align: center;
    // border: 1px solid #5937e4;
    color: azure;
    background-color:rgb(3, 40, 100);;
    border-radius: 3px;
    width: 275px;
    margin-top: 10px;
    margin-left: 2rem; 
    line-height: 1.2em;
}

.sidebr__img{
    width: 100%;
    margin-top: 1rem;
}

.sidebar-title {
      font-family:'Mouse Memoirs', sans-serif; 
      font-size: 1.50rem;
      margin-bottom: .25em;
      margin-top: .50em;
    }
    
